<h2 class = "hh">Simon/sinput</h2>
<%=form_tag("/simon/view", :method => "get", id:'calc_form')  do   %>
	<%=  submit_tag("Find Fact")  %>
	<div id="result"></div>
			<%  end  %>


	<!-- <div id="result"></div>